.leftMenuContainer{
  height:100%;
  width:100%;
  background-color: var(--main-background);
  /* border-right:4px solid var(--menu-break); */
  border-top-right-radius: .2rem;
  border-bottom-right-radius: .2rem;
}

.toggleButton {
  border:none;
  color: var( --medium-grey);
  background-color: var(--main-background);
  transition: .5s;
}

.toggleButton:hover {
  color: var( --active-green);
}

.toggle {
  font-size: 40px;
  display: inline-block;
  background-color: var(--main-background);
}

.collapsed {
  width: 20px;
  background-color: var(--dark-blue);
}

.nav-text{
  font-size: 24px !important;
  color: var(--dark-blue);
}

.primaryConcept {
  background-color: var(--main-background);
  border-bottom: 8px solid var(--black-blue);
  height:73px;
  border-top-left-radius: .2rem;
  border-top-right-radius: .2rem;
}

.navItems{
  margin-top: 20px;
}

.navItem {
  width:100%;
  color: var(--dark-grey);
  font-size: 22px;
  padding: 16px 0px 16px 20px;
  border-bottom: .5px solid var(--light-grey);
}

.circleIcon {
  margin-right: 1.5em;
}

.navItem:hover {
  background-image: linear-gradient(to right, var(--dark-blue) , var(--light-blue));
  color: var(--star-white);
  border: none;
}

.activeItem{
  background-image: linear-gradient(to right, var(--dark-blue) , var(--light-blue));
  color: var(--star-white);
  border: none;
}

.subjectSelection{
  border-top: 8px solid var(--black-blue);
  width:280px;
  color: var(--dark-grey);
  font-size: 22px;
  padding: 15px 0px;
  position: absolute;
  left:0px;
  bottom:25px;
}

.subjectSelection:hover {
  background-image: linear-gradient(to right, var(--purple-background) , var(--medium-purple));
  color: var(--star-white);
}
