<div class="practiceContain overflow-auto">

    <div class="row m-0 p-0 practiceView">
      <div class="col text-center mb-5">
          <h1>Practice with Whole Numbers</h1>
      </div>
    </div>
    <div class="row answerContain">
        <div class="col-12 text-center">
          <h4 class="my-3">What number is next in the sequence?</h4>
        </div>
        <div class="w-75 mx-auto">
          <div class="col-12 m-0 p-0">
              <input type="text" class="w-100" placeholder="Enter your answer here">
          </div>
        </div>
    </div>
    <!-- <div class="row m-0 p-0 actionContain">
      <div class="col practiceActions">
        actions
      </div>
    </div> -->
</div>
