.practiceContain {
  height:100%;
  width:100%;
}

.practiceView {
  height:12%;
}

.practiceHead {
  border-bottom: 4px solid var(--light-grey);
}

.questionText {
  color: var(--dark-grey);
  font-weight: 500;
  font-size: 24px;
}

.questionContain {
  height:64%;
  width:100%;
  margin: auto;
  border: 5px solid var(--light-grey);
  background: radial-gradient(var(--lighter-grey) 2px, transparent 3px);
  background-size : 25px 25px;
}

input[type=text] {
  border: 4px solid var(--light-grey);
  height:90px;
  font-size: 30px;
  color: var(--dark-grey);
  text-align: center;
  width:100%;
}

.checkAnswerBtn{
  width:50%;
  margin:30px auto;
  height:40px;
}

.actionContain {
  height:16%;
}
