<div class="practiceContain overflow-auto h-100">

    <!-- <div class="row m-0 p-0 practiceView">
      <div class="col text-center">
          <h1>Practice with Whole Numbers</h1>
      </div>
    </div> -->
    <div class="row m-0 p-0 questionContain h-100">
        <div class="col-12 text-center mt-5">
          <h2 class="question">What number is next in the sequence?</h2>
          <div *ngIf="hasQuestionView">
            <p class="mt-5 questionText">What number is next in the sequence?</p>
          </div>
          <div *ngIf="hasQuestionText">
            <p class="mt-5 questionText">What number is next in the sequence?</p>
          </div>
          <div class="w-75 mx-auto mt-5">
            <div class="col-12 m-0 p-0">
                <input type="text" class="w-100" placeholder="Enter your answer here">
            </div>
          </div>
        </div>
    </div>
</div>
