.disabledSubjectContain {
  width:100%;
  height:100%;
  border:5px solid var(--orange-warning-bg);
}

i {
  font-size: 80px;
  color: var(--light-grey);
}

p {
  font-size: 36px;
  color: var(--light-grey);
}
