
<div class="conceptContain">
    <div class="row concept mb-3">
        <div class="col">
            <h1 class="py-3 mb-4 conceptHead text-center">{{conceptView.conceptHeading}}</h1>
            <div class="conceptFormula mx-auto p-4">
              <div><h2 class="text-center formulaText my-auto h-100">{{conceptView.conceptFormula}}</h2></div>
            </div>
            <div *ngFor="let paragraph of conceptView.conceptParagraphs">
                <p class="conceptExplanation p-5" [innerHTML]="paragraph.paragraphText"></p>
                <div class="paragraphImg">
                  <img *ngIf="paragraph.paragraphImg" src="{{paragraph.paragraphImg}}" alt="{{paragraph.paragraphImgAlt}}">
                </div>
            </div>
        </div>
    </div>
</div>

