.conceptContain {
  height:88%;
  background-color: var(--main-background);
  border-radius: 4px;
}

.concept {
  min-height:300px;
}

.conceptFormula{
  background-color: var(--dark-grey);
  width:94%;
  border: 6px solid var(--light-grey);
  height:300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.formulaText{
  font-size: 50px !important;
  color:white;
  font-weight: 300;
}

.circle {
  min-height:50px;
  width: 50px;
  background-color:rgb(216, 57, 57);
  border-radius: 50%;
}

.circle-contain {
  display: inline;
}
