
<div class="conceptContain overflow-auto">

    <!-- <div *ngFor="let item of conceptModel">
        <div class="row">
            <div class="col-1 iconNavContain">
                <div class="navIcon text-center mr-4">
                  <i class="fas fa-lightbulb mainIcon align-top mt-2"></i>
                </div>
                <div class="iconConnect"></div>
            </div>
            <div class="col">
                <h1 class="pb-4">{{item.conceptHeading}}</h1>
                <div *ngFor="let concept of item.conceptArray">
                    <h2 class="pb-2">{{concept.conceptSubheading}}</h2>
                    <p>{{concept.conceptText}}</p>
                    <div *ngIf="concept.conceptImg">
                        {{concept.conceptImg}}
                    </div>
                </div>
            </div>
        </div>
    </div> -->

    <div class="row concept mb-3">
        <div class="col">
            <h1 class="py-3 mb-4 conceptHead text-center"> Counting Numbers</h1>
            <h2 class="pt-5 pb-3 text-center conceptFormula">1, 2, 3, 4, 5, ...</h2>
            <p class="conceptExplanation p-5">Even though counting is first taught at a young age, mastering mathematics, which is the study of numbers, requires  constant attention. If it has been a while since you have studied math, it can be helpful to review basic topics. In  this chapter, we will focus on numbers used for counting as well as four arithmetic operations—addition, subtraction,  multiplication, and division. We will also discuss some vocabulary that we will use throughout this book.</p>
        </div>
    </div>
</div>


