<div class="subjectSelectionContainer m-0 p-0">
  <div class="row m-0 p-0 d-flex justify-content-between">
    <div class="col m-0 p-0">
      <a [routerLink]="['/subjectFocus']" routerLinkActive="router-link-active" >
        <div class="subject col-6 m-0 p-0 mx-auto text-center">
          <i class="fas fa-square-root-alt subjectIcon"></i>
          <p class="subjectText">Foundations</p>
        </div>
      </a>
    </div>
    <div class="col m-0 p-0">
      <a [routerLink]="['/subjectFocus']" routerLinkActive="router-link-active" >
        <div class="subject col-6 m-0 p-0 mx-auto text-center">
          <i class="fas fa-square-root-alt subjectIcon"></i>
          <p class="subjectText">Foundations</p>
        </div>
      </a>
    </div>
    <div class="col m-0 p-0">
      <a [routerLink]="['/subjectFocus']" routerLinkActive="router-link-active" >
        <div class="subject col-6 m-0 p-0 mx-auto text-center">
          <i class="fas fa-square-root-alt subjectIcon"></i>
          <p class="subjectText">Foundations</p>
        </div>
      </a>
    </div>
  </div>
</div>
