<h1 class="subjectType">{{subjects.subjectName}}</h1>
<div class="subjectSelectionContainer m-0 p-0 mx-auto">
  <div class="row m-0 p-0 d-flex justify-content-between">
    <div *ngFor="let subject of subjects.subjects" class="m-0 p-0">
      <a [routerLink]="['/subjectFocus']" routerLinkActive="router-link-active">
        <div class="subject col m-0 p-0 mx-auto text-center">
          <i class="{{subject.subjectIcon}} subjectIcon"></i>
          <p class="subjectText">{{subject.subjectText}}</p>
        </div>
      </a>
    </div>
  </div>
</div>
