<div class="historyContain">
  <div *ngFor="let section of historyViewModel.historySections">
      <div class="row history p-0 m-0">
          <div class="col-12 historyHeadContain">
              <div class="navIcon text-center mr-5">
                <i class="{{section.sectionIcon}} mainIcon align-top mt-2"></i>
              </div>
              <h1 class="historyHeadText m-0 p-0 align-bottom"> {{ section.sectionHeader }}</h1>
          </div>

          <div class="col h-100 mt-3 mb-3 historySubText">
            <div class="px-2 py-3 w-100">
                <h2 class="pb-2 ml-5">{{ section.sectionSubheader }}</h2>
                <div *ngFor="let paragraph of section.sectionParagraphs">
                  <p class="pl-5" [innerHTML]="paragraph.paragraphText"></p>
                  <div *ngIf="paragraph.paragraphImg" class="text-center">
                      <img class="ml-5 my-3 historyImg" src="{{paragraph.paragraphImg}}" alt="{{paragraph.imgAlt}}">
                  </div>
              </div>
            </div>
          </div>
      </div>
  </div>
  <!--History Section Completed-->
  <div class="row history p-0 m-0">
    <div class="col-12 historyHeadContain">
        <div id="sectionCompleteIcon" class="text-center mr-5">
          <i class="fas fa-check completeIcon align-top mt-2"></i>
        </div>
        <h1 id="sectionComplete" class="historyHeadText m-0 p-0 align-bottom"> History of Whole Numbers Completed!</h1>
    </div>
  </div>
</div>
