<div class="historyContain">

  <div class="col mb-5">
      <h1 class="historyHeadText align-bottom"> {{ historyView.historyHeader }}</h1>
  </div>
  <div *ngFor="let section of historyView.historySections">
      <div class="row history p-0 mx-0">
          <div class="col-12 historyHeadContain h-100">
              <div class="navIcon text-center mr-5 mb-1">
                <i class="{{section.sectionIcon}} mainIcon align-top mt-2"></i>
              </div>
              <h2 class="historyHeadText m-0 p-0 align-middle"> {{ section.sectionHeader }}</h2>
          </div>

          <div class="col h-100 my-0 historySubText">
            <div class="px-2 py-3 w-100">
                <h3 class="pb-2 ml-5">{{ section.sectionSubheader }}</h3>
                <div *ngFor="let paragraph of section.sectionParagraphs">
                  <h4 *ngIf="paragraph.paragraphHead" class="pl-5"> {{ paragraph.paragraphHead }}</h4>
                  <p class="pl-5" [innerHTML]="paragraph.paragraphText"></p>
                  <div *ngIf="paragraph.paragraphImg" class="text-center">
                      <img class="ml-5 my-3 historyImg" src="{{paragraph.paragraphImg}}" alt="{{paragraph.imgAlt}}">
                  </div>
              </div>
            </div>
          </div>
      </div>
  </div>
  <!--History Section Completed-->
  <div class="row history p-0 mt-1 mx-0">
    <div class="col-12 historyHeadContain">
        <div id="sectionCompleteIcon" class="text-center mr-5">
          <i class="fas fa-check completeIcon align-top mt-2"></i>
        </div>
        <h2 id="sectionComplete" class="historyHeadText m-0 p-0 align-middle"> History of Whole Numbers Completed!</h2>
    </div>
  </div>
</div>
