
.leftMenuContain {
  margin-top: 5em !important;
  width:280px;
  padding-top: 20px !important;
  height:88vh;
}

.contain {
  margin-top: 5em !important;
  padding: 20px 10px 0px 10px !important;
  height:88vh;
}

.subjectContain {
  background-color: white;
  border-radius: .2rem;
  width:100%;
}

.subjectNavigation {
  line-height: 4em;
  border-bottom:8px solid var(--black-blue);
  /* border-radius: .15rem; */
}

.subjectTab {
  font-size: 24px;
  color: var(--medium-blue);
  background-color: rgb(255, 255, 255);
  transition: .5s;
}

.subjectTab:hover {
  font-size: 24px;
  color: var(--star-white);
  background-color: var(--light-blue);
}

.firstTab{
  border-right:1px solid var(--light-grey);
  border-top-left-radius: .2rem;
}

.tab{
  border-right:1px solid var(--light-grey);
}

.lastTab{
  border-top-right-radius: .2rem;
}

i {
  font-size: 30px;
  display: inline-block;
}

.tabContain {
  padding-left: 4.5em;
  padding-right: 4.5em;
  height:82%;
}

.subjectView {
  height:600px;
}

.selected {
  font-size: 24px;
  color: var(--star-white);
  background-color: var(--light-blue);
}

.leftArrowIcon {
  position: absolute;
  left:0px;
  top: 50%;
  font-size: 50px;
  color: var(--medium-grey);
  transition: .5s;
}
.rightArrowIcon {
  position: absolute;
  right:0px;
  top: 50%;
  font-size: 50px;
  color: var(--medium-grey);
  transition: .5s;
}

.leftArrowIcon:hover, .rightArrowIcon:hover {
  color: var(--medium-purple);
}

.disabled {
  color: var(--light-grey);
}

.leftMenuIcon {
  background-image: linear-gradient(to right, var(--dark-blue) , var(--light-blue));
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  vertical-align: middle;
  padding: 10px;
  position: absolute;
  left:10px;
  bottom:10px;
  color:white;
  box-shadow: 3px 3px 4px rgb(117, 117, 117);
  transition: .4s;
}

.leftMenuIcon:hover {
  box-shadow: none;
  background-color: var(--active-green);
  box-shadow: 2px 1px 4px rgb(117, 117, 117);
  background-image: linear-gradient(to right, var(--purple-background) , var(--medium-purple));
}

.questionBar {
  height:60px;
  background-color: white;
  border-radius: 4em;
  border: 2px solid var(--medium-blue);
  bottom: 100px;
  margin:auto;
}

.arrowIcon {
  font-size: 30px;
  margin-top: 14px;
}

.arrowIcon:hover {
  color: var(--medium-purple);
}

.itemIcon {
  margin-top: 14px;
  color: var(--medium-grey);
}

.itemIcon:hover {
  color: var(--medium-purple);
}

.activeIcon {
  color:green !important;
}
